[Unit]
Description=Service Monitor Python Script
After=network.target

[Service]
WorkingDirectory=/usr/local/monitor
ExecStart=/usr/bin/python3 -u /usr/local/monitor/monitor.py /usr/local/monitor/configs/config.yaml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
