[Unit]
Description=Service Monitor Python Script
After=network.target

[Service]
WorkingDirectory=/home/huanwei/monitor
ExecStart=/usr/bin/python3 -u /home/huanwei/monitor/monitor.py /home/huanwei/monitor/configs/config.yaml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
